// content.jade

ul
  li: a(href="#/board/NYKZXin") board/NYKZXin
  li: a(href="#/board/YSSY") board/YSSY
  li: a(href="#/board/Tsai") board/Tsai
  li: a(href="#/board/NanYangKeZhan") board/NanYangKeZhan
ng-view

// ENDOF content.jade
