// loginModal

#loginModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="loginModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h4.modal-title#loginModalLabel 登陆南洋客栈
      .modal-body
        form(role="form")
          .form-group
            label(for="loginusername") 用户名
            input#loginusername.form-control(type="text",placeholder="username")
          .form-group
            label(for="loginpw") 密码
            input#loginpw.form-control(type="password",placeholder="password")
      .modal-footer
        button.btn.btn-default(type="button",onclick="callLogin()") 登陆

script
  :coffeescript
    window.callLogin = ->
      window.localStorage.username = $("#loginusername").val()
      window.localStorage.pw = $("#loginpw").val()
      login (err, data)->
        if data
          window.localStorage.user = JSON.stringify data
          window.location.reload()
        if err
          alert "各种原因的登录失败：ID需要大小写\n是否错用了水源用户名/密码\n服务器挂了"
          window.localStorage.username = window.localStorage.pw = window.localStorage.user = ""
          window.location.reload()

// ENDOF loginModal

