// navbar.jade

nav(class="navbar navbar-default navbar-fixed-top  navbar-inverse",role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="#") 南洋客栈
      a.navbar-brand(href="#") {{state.}}
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href="#"): .glyphicon.glyphicon-search
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown"): .glyphicon.glyphicon-chevron-down
          ul.dropdown-menu
            li: a(href="#") Action
            li: a(href="#") Another Action
            li: a(href="#") Something else here
            li.divider
            li: a(href="#") Separated
            li.divider
            li: a(href="#") One more divider

// ENDOF navbar.jade
