// router.jade

script
  :coffeescript
    nykzClient = angular.module 'nykzClient',['ngRoute']
    nykzClient.config ($routeProvider)->
      $routeProvider
        .when '/board/:boardName', 
          controller: postIndexController
          templateUrl:"boardIndex.html"
        .when '/board/:boardName/start/:startFrom',
          controller: postIndexController
          templateUrl:"boardIndex.html"

// ENDOF router.jade
