// simpleReplyModal.jade

#simpleReplyModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="simpleReplyModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-body
        form(role="form")
          .form-group
            label(for="replyText") 回复：
            input#replyText.form-control(type="text",placeholder="在此输入回复内容：")
      .modal-footer
        button.btn.btn-default(type="button",onclick="callReplySimple()") 回复

script
  :coffeescript
    window.callReplySimple = ->
      content = $("#replyText").val()
      refilename = "M.#{window.currentPost.index.id}.A"
      board = window.currentPost.index.board
      doPost {content,refilename,board}, (err, data)->
        if data
          $("#simpleReplyModal").modal("hide")
          window.history.go -1
        if err
          alert "各种原因的无法发帖：需要重新登录\n您没有权限\n服务器挂了"

// ENDOF simpleReplyModal.jade
