// boardIndex.jade

.cata(ng-repeat="cata in boardIndicies")
  h3 {{cata[0].catagory_name}}
  div.list-group
      a.list-group-item(href="#/board/{{board.name}}",ng-repeat="board in cata",class="{{board.iskboard ? 'list-group-item-warning' : ''}}") {{board.name}}（{{board.chinesename}}）

// ENDOF boardIndex.jade
