// boardIndex.jade
ul
  li(ng-repeat="cata in boardIndicies") {{cata[0].catagory_name}}
    ul.list-group
      li.list-group-item(ng-repeat="board in cata",class="{{board.iskboard ? 'list-group-item-warning' : ''}}")
        a(href="#/board/{{board.name}}") {{board.name}}（{{board.chinesename}}）

// ENDOF boardIndex.jade
