// boardIndex.jade

table.table
  tr(ng-repeat="postIndex in postIndices")
    td {{postIndex.index}}
    td {{postIndex.owner}}
    td {{postIndex.id}}
    td {{postIndex.title}}

// ENDOF boardIndex.jade
