// postIndex.jade

nav.navbar.navbar-default(role="navigation")
  .collapse.navbar-collapse
    .navbar-header
    a.navbar-brand(href="#/board/{{boardInfo.name}}") {{boardInfo.name}}（{{boardInfo.chinesename}}）
    .navbar-brand
      span 板主：
      span(ng-repeat="bms in boardInfo.bm")
        a(href="#/user/{{bms}}") {{bms}}
        span &nbsp;&nbsp;
    ul.nav.navbar-nav.navbar-right
      li: a(href="javascript:$('#postModal').modal()"): .glyphicon.glyphicon-plus
      li: a(href="#/board/{{state.board}}/start/{{state.start - 20}}"): .glyphicon.glyphicon-chevron-left
      li: a(href="#/board/{{state.board}}/start/{{state.start + 20}}"): .glyphicon.glyphicon-chevron-right
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown")
          span.glyphicon.glyphicon-align-justify
        ul.dropdown-menu
          li: a(href="#/board/{{state.board}}/start/1") 转到第一页
          li: a(href="#/board/{{state.board}}") 转到最末页
          li: a(ng-click="gotoPost()") 转到第几帖

.list-group
  a.list-group-item(href="#/pst/board/{{postIndex.board}}/file/{{postIndex.id}}",ng-repeat="postIndex in postIndices")
    h4.list-group-item-heading(style="{{postIndex.id !== postIndex.reid ? '' : 'font-weight:bold;'}}") {{postIndex.title}}
    p.list-group-item-text
      .row
        .col-xs-1
        .col-xs-2 {{postIndex.index}}
        .col-xs-3 {{postIndex.owner}}
        .col-xs-2 {{friendly_time(postIndex.id)}}

nav.navbar.navbar-default(role="navigation")
  .collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      li: a(href="#/board/{{state.board}}/start/{{state.start - 20}}"): .glyphicon.glyphicon-chevron-left
      li: a(href="#/board/{{state.board}}/start/{{state.start + 20}}"): .glyphicon.glyphicon-chevron-right

// ENDOF postIndex.jade
