//postView.jade

.panel.panel-info
  .panel-heading
    a(href="javascript:$('#simpleReplyModal').modal();") 【回复】
    span {{article.index.title}}
  .panel-body
    pre(ng-bind-html="articleHtml")

//postView.jade
