doctype html
html(ng-app="nykzClient")
  head
    include includes/header
    include includes/config
    include includes/util
    include includes/controllers
    include includes/router
  body(ng-controller="bodyController")
    include includes/navbar
    #content.container-fluid
      include includes/content
    include includes/footer
    style
      :stylus
        #content
          margin-top: 70px
